<div class="row">
    @* <div class="col" id="accordion">
    <h2>ali</h2>
    <div>sdafaa</div>
    <h2>veli</h2>
    <div>fasdaf</div>
    <h2>sima</h2>
    <div>sdafaa</div>
    <h2>asi</h2>
    <div>sdafaa</div>
    </div>*@

    @*<label>Kategoriler</label>
    <input id="auto" type="text" value="" />*@

    @*<div class="row">
    <div class="col">
    <div id="tabs">
    <ul>
    <li><a href="#tabs1">ali</a></li>
    <li><a href="#tabs2">veli</a></li>
    <li><a href="#tabs3">sali</a></li>
    </ul>
    <div id="tabs1"> lorem ipsıum dolro </div>
    <div id="tabs2"> dasf fdg fdg </div>
    <div id="tabs3"> df fdg qwe </div>
    </div>

    </div>
    </div>*@

    @*<div id="dialog" title="Dialog Title">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
            veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.
        </p>
    </div>

    <h2 class="demoHeaders">Dialog</h2>
    <p>
        <button id="dialog-link" class="ui-button ui-corner-all ui-widget">
            <span class="ui-icon ui-icon-newwin"></span>Open Dialog
        </button>
    </p>*@

   @* <h2>Datepicker</h2>
    <div id="date"></div>*@

    <h2>progress bar</h2>
    <div id="progress"></div>

</div>



@section Scripts{
    <script>
        $("#accordion").accordion();


        values = [
            "elektronik",
            "eşya",
            "mal"
        ]

        $("#auto").autocomplete({
            source: values
        });

        $("#tabs").tabs();


       $("#dialog").dialog({
        autoOpen: false,
        width: 400,
        buttons: [
          {
            text: "Ok",
            click: function () {
              $(this).dialog("close");
            },
          },
          {
            text: "Cancel",
            click: function () {
              $(this).dialog("close");
            },
          },
        ],
      });


        $("#dialog-link").click(function (event) {
            $("#dialog").dialog("open");
        });

        $("#date").datepicker();

        $("#progress").progressbar({
            max : 50,
            value : 25,
            text : 25
        });

    </script>

}